@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn {
    font-size: 1rem;
  } */
  .btn-primary,
  .btn-error {
    @apply text-white;
  }
  .card-compact .card-body {
    @apply px-4 py-2 text-base;
  }

  .table :where(thead, tfoot) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .table-md :not(thead):not(tfoot) tr {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .table-md :where(th, td) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 46px;
  }

  .breadcrumbs {
    padding-top: 0;
    padding-bottom: 0.25rem;
  }
}

@layer utilities {
  .table-common {
    width: 100%;
    table-layout: auto;
  }
  .table-common tr > * {
    width: auto;
  }
  .table-common tr > *:first-child,
  .table-common tr > *:last-child {
    white-space: nowrap;
    width: 50px;
    text-align: center;
  }
  .table-common tr > *:nth-child(3),
  .table-common tr > *:nth-child(4),
  .table-common tr > *:nth-child(5),
  .table-common tr > *:nth-child(6) {
    text-align: center;
  }
  .table-common tr > *:nth-child(7) {
    text-align: end;
  }
  .table-common tr > *:nth-child(2) > *,
  .table-common tr > *:nth-child(2) > * {
    max-width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .modal h3 {
    text-align: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
